In [3]:
tup= ('Niv','cse','7','cmr','good')
print(tup)
tup1=(1,2,3,4,5)
print(tup1)
tup2="yah","okay"
print(tup2)

('Niv', 'cse', '7', 'cmr', 'good')
(1, 2, 3, 4, 5)
('yah', 'okay')

In [11]:
tup1 = ("Hello")
print(tup1)
tup2 = ()
print(tup2)
tup3 = '     hi'
print(tup3)

Hello
()
     hi

In [1]:
tup1 = ("+91 7895675487- call from india")
print(tup1)
tup2=(8739)
print(tup2)

+91 7895675487- call from india
8739

In [20]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup[0])
print(tup[3])
print(tup[1:5])

hello
Nive H R
('i', 'am', 'Nive H R', 'branch-cse')

In [22]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup)
del(tup)#Tuple got deleted error not define
tup1 = ()#creating new empty tuple
print(tup1)

('hello', 'i', 'am', 'Nive H R', 'branch-cse')
()

In [23]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup)
tup1= ('cse','it','mech','electronics')
print(tup1)
tup2=tup1+tup
print(tup2)

('hello', 'i', 'am', 'Nive H R', 'branch-cse')
('cse', 'it', 'mech', 'electronics')
('cse', 'it', 'mech', 'electronics', 'hello', 'i', 'am', 'Nive H R', 'branch-cse')

In [32]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup)
print("value at 5th lock= ",tup1[2])
tup1 ="hello" # tup[3] = "" --> not allowed
print("i am new tupple ",tup1[2])
print(tup)

('hello', 'i', 'am', 'Nive H R', 'branch-cse')
value at 5th lock=  l
i am new tupple  l
('hello', 'i', 'am', 'Nive H R', 'branch-cse')

In [37]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup)
print(tup1)
tup1= ('cse','it','elec','mech')
print(tup2)
a=len(tup)
b=len(tup1)
print(a)
print(b)
print(len(tup1))

('hello', 'i', 'am', 'Nive H R', 'branch-cse')
('cse', 'it', 'elec', 'mech')
('cse', 'it', 'elec', 'mech')
5
4
4

In [40]:
tup= ('hello','i','am','Nive H R','branch-cse')
print(tup)
tup2= ('cse','it','elc','mech')
print(tup2)
print()
print(max(tup2))
print(max(tup))
print(min(tup2))
print(min(tup))

('hello', 'i', 'am', 'Nive H R', 'branch-cse')
('cse', 'it', 'elc', 'mech')

mech
i
cse
Nive H R